name: Heart Failure ML Pipeline

on:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0 scikit-learn pandas numpy -q

    - name: Train model with MLflow
      run: |
        cd MLProject
        python modelling.py

    - name: Upload MLflow artifacts
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-runs
        # mlruns dan models berada di dalam folder MLProject
        path: |
          MLProject/mlruns/
          MLProject/models/
        retention-days: 30
        if-no-files-found: error
